.CardFlipperPage{
    background-image: url('../images/Background.jpg');
    min-height: 100vh;
    max-height: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-position: fixed top;


}

.CardFlipperPage_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6em;
    color:white;
}

.CardFlipperPage_Body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    margin: 2% 15% 0% 15%
}

.CardFlipperPage_OptionsBar {
    display: flex;
    justify-content:center;


}

.CardFlipperPage_button{
    margin: 0% 5% 5% 5%
}
