.Main_Deck{
    display:flex;
    flex-direction:column;
}

#Main_Deck_Slot{
    border: 1px solid;
    height: 200px;
}
#Extra_Deck_Slot{
    border: 1px solid;
    height: 200px;
}
#Side_Deck_Slot{
    border: 1px solid;
    height: 200px;

}

.DeckbuilderPage_OptionsBar{
    margin-top: 2%;
    display:flex;
    justify-content: space-evenly;
}

.DeckbuilderPage_title{
    display:flex;
    justify-content: center;
}

.DeckbuilderPage_button{


}
