.Main_Deck{
    display:flex;
    flex-direction:column;
}

#Main_Deck_Slot{
    border: 1px solid;
    height: 200px;
}
#Extra_Deck_Slot{
    border: 1px solid;
    height: 200px;
}
#Side_Deck_Slot{
    border: 1px solid;
    height: 200px;

}
