*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
}

.flexbox{
    display:flex;
    width:100%;
    height:920px;
    overflow:hidden;
    margin: auto;
    padding: 15px;
}

.flexbox .deck {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: #8078a8;
    padding-left: 15px;
    overflow:hidden;
    background-size: contain ;
    background-repeat: no-repeat ;
}

.flexbox .deck .card {
    height: 178px;
    width: 124px;
    background-color: white;
    cursor: pointer;
    overflow:hidden;
}

.DeckbuilderrPage_OptionsBar{
    display: flex;
    justify-content: space-evenly;
}
