.DeckPage {
  background-image: url(../images/Background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-position: fixed top;

}

.DeckPage_title {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.DeckPage h1{
  display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size:5em;
  padding-bottom: 3%;
}
.CardOpenerPage_CardDiv{
    margin: 10px 10px 10px 10px ;
}

.CardOpenerPage_Card{
    width: 177px;
    height: 254px;
}

.DeckPageContainer{
  font-size:1.2em;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0% 5% 5% 5%;
}

.DeckPage_logo{
  width: 55%;
}
