
.CardOpenerPage_CardDiv{
    margin: 10px 30px 60px 30px ;
}

.CardOpenerPage_Card{
    width: 177px;
    height: 254px;
}

.CardOpenerPage_CardDiv div{
  font-size:1.2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
