.PackListPage{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size: 1.6em;
    background-image: url('../images/GodzillaSingular.jpg');
}

.PackListPage_Title{
    display:flex;
    flex-direction: column;
    align-items:center;
    background:#b2591a;
    margin-top: 2%;
}
.PackListPage_Container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .5em;
    color:white;
}

.PackListPage_Pack{
    padding-top:5%;
    height: 450px;
    width: 257px;
}
.PackListPage_Card{
    display:flex;
    flex-direction: column;
    height: 630px;
    width: 340px;
    margin-bottom: 1%;
    margin-top: 2%;
    align-items:center;
    background:#b2591a;
    margin-left: 3%;
}
.PackListPage_Card a{
    display:flex;
    flex-direction: row;
    justify-content:center;

}

.PackListPage_Card div{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size: 1.2em;
    padding-top: 2%;

}
