.SearchedCardContainer_Image{
    height: 178px;
    width: 124px;
}

.Searchbar_Container {
    display:flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 25px;

}
.Searchbar_Container label{
    font-size:50px;
}

.Searchbar_Container input{
    font-size:25px;
    width: 97%;
}

#deck-1{
    overflow:scroll;
    overflow-x:hidden;
}


#deck-2{
    max-height:900px;
    display:flex;
    overflow:scroll;
    overflow-x:hidden;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.cardholder{
    max-height: 178px;

}
